<div class="row">
    <div class="small-12 columns text-center">
	<h1>Генератор наборов карт</h1>
    </div>
    <div class="small-12 columns">
	<p>Здесь вы можете создать собственный набор карт для игры "Экивоки". Это очень просто.</p>
	<p>Заполните все поля, нажмите на кнопку "Создать карты", и вы получите ваш набор карточек в файле *pdf. Этот файл вы сможете скачать и распечатать на домашнем принтере или в типографии. </p>

	<p>Хотите обмениваться карточками с другими игроками?
	    <ul class="no-bullet">
		<li><a href="https://vk.com/ekivoki.game">https://vk.com/ekivoki.game</a></li>
		<li><a href="https://www.facebook.com/ekivoki.ru">https://www.facebook.com/ekivoki.ru</a></li>
		<li><a href="www.ekivoki.ru">www.ekivoki.ru</a></li>
	    </ul>
	</p>

	<p>Наш ящик для писем и газет: <a href="mailto:game@ekivoki.ru">game@ekivoki.ru</a></p>
    </div>
</div>
<div class="row">
    <div class="medium-6 columns">
	<h2>Обычные карточки</h2>
	<div class="row">
	    <div class="small-12 columns">
		<a href="/gen-card/cover">Скачать рубашку</a>
	    </div>
	</div><br>
	<form action="gen-card" method="POST" id="reg-form">
	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Заголовок</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="title" placeholder="Кино и всё такое" required>
		</div>
	    </div>
	    <fieldset>
		<p>Введите слова и выражения через точку с запятой; каждое новое слово или выражение начинайте с большой буквы</p>
	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Слова</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="words[]" placeholder="Решительный отказ" required>
		</div>
	    </div>

	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Наоборот</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="words[]" placeholder="Навуходоносор" required>
		</div>
	    </div>

	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Рисунок</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="words[]" placeholder="Билет">
		</div>
	    </div>

	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Жесты</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="words[]" placeholder="Хлеб всему голова" required>
		</div>
	    </div>

	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Да/Нет</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="words[]" placeholder="Ирония судьбы" required>
		</div>
	    </div>

	    </fieldset>
	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Автор</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="author" placeholder="Роман Пронин" required>
		</div>
	    </div>

	    <button class="button success">Создать карты</button>
	</form>
    </div>
    <div class="medium-6 columns">
	<h2>Карточки-экивоки</h2>
	<div class="row">
	    <div class="small-12 columns">
		<a href="/equi-card/cover">Скачать рубашку</a>
	    </div>
	</div><br>

	<form action="equi-card" method="POST" id="reg-form">
	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Заголовок</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="title" placeholder="Кино и всё такое" required>
		</div>
	    </div>
	    <div class="row">
		<div class="small-3 columns">
		    <label for="rule" class="right inline">Правила</label>
		</div>
		<div class="small-9 columns">
		    <textarea name="rule" placeholder="Объясните словами. Пройдите вперед." required></textarea>
		</div>
	    </div>

	    <div class="row">
		<div class="small-3 columns">
		    <label for="goal" class="right inline">Задание</label>
		</div>
		<div class="small-9 columns">
		    <textarea name="goal" placeholder="«Доктор Хаус»" required></textarea>
		</div>
	    </div>

	    <div class="row">
		<div class="small-3 columns">
		    <label for="title" class="right inline">Автор</label>
		</div>
		<div class="small-9 columns">
		    <input type="text" name="author" placeholder="Роман Пронин" required>
		</div>
	    </div>

	    <button class="button success">Сгенерировать файл</button>
	</form>
    </div>

</div>
